@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 dir="rtl">سامانه پیشنهاد و تایید پروژه</h1>
    <p dir="rtl" class="lead">وارد صفحه کاربری خود شده و فرم پیشنهاد پروژه را تکمیل کنید</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>پروژه چیست؟</h2>
        <p>
            به زبان ساده همان طراحی سایت است
        </p>
        <p><a class="btn btn-default" href="https://www.w3schools.com/html/ ">چند نمونه پروژه</a></p>
    </div>
    <div class="col-md-4">
        <h2>کجا پروژه ساختن یاد بگیریم؟</h2>
        <p>برای یادگیری بهتر پروژه به لینک زیر مراجعه کنید</p>
        <p><a class="btn btn-default" href="https://shamswebinar.ir/co2245/">یادگیری پروژه</a></p>
    </div>
    <div class="col-md-4">
        <h2>کجا نمره پروژه را ببینیم؟</h2>
        <p>جای دوری نرو برو لینک زیر</p>
        <p><a class="btn btn-default" href="https://bustan.tvu.ac.ir/">نمره پروژه</a></p>
    </div>
</div>